/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body {font: 14px/25px Arial, Helvetica, sans-serif;color:#292929;min-width:960px;background: url(../images/bg.gif) center 0 repeat;border-top:#292929 6px solid;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.main {width:960px; margin:0 auto; position:relative;}

.eg             { margin: 20px 0; padding: 20px; 
                    border: 1px solid #ddd; border-radius: 4px; -webkit-border-radius: 4px; -mox-border-radius: 4px; }

/***********************************************************************/
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:none;}
a.button2 {background:#f4f4f4; font-size:14px; line-height:18px; color:#01a5ca; text-transform:uppercase; display:inline-block; padding:12px 16px 13px 16px; }
a.button2:hover {background:#d3d1d1; color:#333; }

a.link {text-decoration:none; cursor:pointer; color:#01a5ca; }
a.link:hover {text-decoration:underline;}

.color-1 { color:#01a5ca;}
a.color-1:hover {color:#000;}

.font-3 {font-size:17px; line-height:33px; color:#292929;}

h2 { font-size:30px; line-height:36px; color:#292929; font-weight:normal; letter-spacing:-1px;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list-1 li a { font-size:14px; color:#292929; line-height:25px;}
ul.list-1 li a:hover {color:#01a5ca;}

ul.list-2 li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list-2 li a { font-size:14px; color:#01a5ca; line-height:25px;}
ul.list-2 li a:hover { color:#292929;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:3px 30px 0px 0;}	
.last {margin-right:0px !important;}
.img-radius {border-radius:4px;}

.top-1 {padding-top:35px;}
.top-2 {padding-top:25px;}
.top-3 {margin-top:23px;}
.top-4 {margin-top:33px;}
.top-5 {margin-top:18px;}
.top-6 {margin-top:12px;}

.left-1 {padding-left:20px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}

.pad-1 {margin:13px 0px 12px 0px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:5px;}
.p3 {padding-bottom:12px;}
.p4 {padding-bottom:15px;}
.p5 {padding-bottom:10px;}
.p6 {padding-bottom:20px;}

/*********************************header*************************************/
header {width:100%; z-index:101; position:relative; overflow:hidden; padding-bottom:17px;}

h1 {float:left; margin:23px 0 0px 29px;}
h1 a {font-size:53px; line-height:65px; color:#01a5ca; letter-spacing:1px; display:inline-block;}
h1 a strong {display:block; color:#292929; margin-top:-21px; font-weight:normal;}

.social-icons {overflow:hidden; text-align:right; margin-top:35px;}
.social-icons a {display:inline-block; width:23px; height:23px; float:right;}
.icon-1 {background:url(../images/icon-1.png) 0 0 no-repeat;}
.icon-2 {background:url(../images/icon-2.png) 0 0 no-repeat; margin-left:7px;}
.icon-3 {background:url(../images/icon-3.png) 0 0 no-repeat; margin-left:7px;}
.icon-4 {background:url(../images/icon-4.png) 0 0 no-repeat; margin-left:7px;}
.icon-5 {background:url(../images/icon-5.png) 0 0 no-repeat; margin-left:7px;}
.icon-6 {background:url(../images/icon-6.png) 0 0 no-repeat; margin-left:7px;}
.icon-7 {background:url(../images/icon-7.png) 0 0 no-repeat; margin-left:7px;}
.icon-8 {background:url(../images/icon-8.png) 0 0 no-repeat; margin-left:7px;}
.social-icons a:hover {background-position:0 bottom;}

nav {overflow:hidden; margin-right:30px;}
ul.menu {float:right; margin-top:39px;}
ul.menu li {float:left; line-height:20px; margin:0px 0 0px 44px;}
ul.menu li a {font-size:17px; line-height:22px; color:#292929; display:inline-block; }
ul.menu li a:hover, ul.menu li.current a {color:#01a5ca;}

.bg-img {background:url(../images/bg-img.gif) 0 0 no-repeat; width:150px; height:6px; position:absolute; top:-6px; left:-152px;}

/*********************************content*************************************/
#content {width:100%;}
.box-shadow {box-shadow: 0px 0px 5px #dbdbdb;background:#fff;}
.img-border {border:#f4f4f4 5px solid;}
.block-1 { padding:25px 30px 29px 44px;}
.block-2 { padding:25px 30px 45px 44px;}
.block-3 { padding:25px 30px 25px 44px;}
.col-1 {float:left; width:575px; margin-right:65px;}
.col-2 {float:left; width:225px;}
.col-3 {float:left; width:225px; margin-right:50px; }
.col-4 {float:right; width:590px;}

.form-search {margin:27px 0px 0 0px; width:210px; }
#form-search input { width:188px; border:#f4f4f4 1px solid; height:18px; font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#bebebe;  vertical-align:top; padding:11px 9px 12px 11px; display:inline-block; margin-top:19px;}
.search_button {background:#f4f4f4; font-size:14px; line-height:18px; color:#01a5ca; text-transform:uppercase; display:inline-block; padding:12px 28px 13px 28px; margin:15px 0px 0 0;}
.search_button:hover {background:#d3d1d1; color:#333; }

.box-2>div {float:left; width:95px; margin-right:15px;}
.box-2 p.color-1 {margin-top:5px;}
.border-1 {border-bottom:#e5e5e5 1px solid; padding-bottom:15px; margin-bottom:9px;}

/****************************footer************************/
footer { width:100%; position:relative; overflow:hidden; text-align:center; padding:32px 0 45px 0;}
footer p {color:#1e1e1e;}

/**********************form**********************/
.map {width:200px; height:200px; margin:20px 0 0 0;}
.map iframe {width:200px; height:200px;}
dl {margin:12px 0px 0 0px;}
dl dt {}
dl dd span { display:block; width:83px; float:left;}
dl dd {}
dl dd a {text-decoration:underline !important;}
dl dd a:hover {text-decoration:underline; color:#333;}
#form { margin: 20px 0 0px 0px; width:575px; }
#form input {border:#f4f4f4 1px solid; background:#fff;font: 14px Arial, Helvetica, sans-serif;color:#bebebe;padding:11px 9px 13px 11px;outline: medium none;width: 278px; height:17px; float:left;}
#form textarea {border:#f4f4f4 1px solid; background:#fff;font: 14px Arial, Helvetica, sans-serif;color:#bebebe; height: 192px;outline: medium none;overflow: auto;padding: 12px 0px 0px 11px;width: 562px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;overflow:hidden;display: block;min-height:53px;}
.btns {text-align:right; width:575px; padding-top:10px;}
.btns a {display:inline-block; margin:0 0px 0 10px;}
/***************************** table/


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}
